.card-text{
    font-family: 'Archivo', sans-serif;
    color: #0d181e;
    font-size: 30px;
    
}

.c-temp{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 80px;
}